<div class="right-side-container">
  <div class="right-side-header">
    About This Conversation
  </div>
  <div class="right-side-body">
    <div class="user-detail">
      <img src="" alt="add" class="user-photo">
      <span class="user-name">COMPUTER SCIENCE</span>
    </div>
     <div class="user-pin-msg">
       <img src="../../../assets/images/icons8-pin-50.png" alt="#" class="locate-img">&nbsp;&nbsp;&nbsp;&nbsp;
       Pin Messages
       <img src="../../../assets/images/sharp-play_arrow-24px.svg" alt="add" class="open-pin-1">
     </div>
     <div class="user-upload-msg">
        <img src="../../../assets/images/icons8-documents-24.png" alt="#" class="locate-img">&nbsp;&nbsp;&nbsp;&nbsp;
      Shared Documents
      <img src="../../../assets/images/sharp-play_arrow-24px.svg" alt="add" class="open-pin-2">
    </div>
  </div>
</div>