<div class="left-side-container">
  <div class="user-name"><p>Himanshu T</p></div>
  <div class="jump"><input type="text" class="type-for-search" placeholder="Search"></div>
  <div class="channel">
    <div class="channel-heading">#Channel <img src="../../assets/images/baseline_add_circle_outline_white_18dp.png" alt="add" class="add-channel"></div>
    <div class="channel-container">
      
    </div>
  </div>
  <div class="direct">
    <div class="direct-heading">#Direct <img src="../../assets/images/baseline_add_circle_outline_white_18dp.png" alt="add" class="add-direct"></div>
    <div class="direct-container"></div>
  </div> 
</div>
<div class="user-header">
  <div class="other-user">
    <img src="" alt="add" class="active">&nbsp;&nbsp;&nbsp;<span class="other-user-name">#{{OtherUser}}</span>
  </div>
   <!-- <div class="user-search">
     <input type="text" class="user-text" placeholder="Search For User">
   </div> -->
</div>
<app-messanger-box></app-messanger-box>
<app-rightside></app-rightside>

